<!DOCTYPE html>
<html>
<head>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
<div>
</div>
<h1>Albums</h1>
<a href="/add-album">Add New Album</a>
<div id="user">
    <h3>Your Albums</h3>
    <% for (i = 0; i < user.length; i++) { %>
        <% var a = user[i] %>
        <li><a href="/album/<%=a.ID%>"><%= a.NAME %></a></li>
    <% } %>
</div>
<div id="trip">
    <h3>Albums For Your Trips</h3>
    <% for (i = 0; i < trip.length; i++) { %>
        <% var a = trip[i] %>
        <li>
        <a href="/album/<%=a.ID%>"><%= a.NAME %></a>
        from <a href="/homepage/<%=a.OLOGIN%>"><%=a.ONAME%>'s</a>
        trip <a href="/trip/<%=a.TID%>"><%=a.TNAME%></a>
        </a>
    <% } %>
</div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
