<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1><%= album.NAME %></h1>
    <% if (album.OWNER == user.ID) { %>
        <div>
            <button class="btn" onclick="location.href = '/album-edit/<%=album.ID%>';"> Edit Info </button>
        </div>
    <% } %>
    <form action="/api/postmedia" method="post">
        URL: <input type="text" name="url">
        </br>
        </br>
        Video: <input type="checkbox" name="video">
        </br>
        </br>
        Private: <input type="checkbox" name="private">
        </br>
        </br>
        <input type="hidden" name="album" value="<%=album.ID%>">
        <input class="btn" type="submit" value="Add Media">
    </form>
    <div>
        <% for (i = 0; i < media.length; i++) { %>
        <% var p = media[i] %>
        <a href="/media/<%=p.ID%>"><img width="200" src="<%=p.MEDIA_URL%>"></a>
        <% } %>
    </div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
