<!DOCTYPE html>
<html>
<head>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body class="col-xs-12">
<h1>Pending Requests</h1>
<div>
    <h4>Trip Invites</h4>
    <% for (i = 0; i < trip.length; i++) { %>
        <% var r = trip[i] %>
        <li>
        <a href="/trip/<%=r.ID%>"><%= r.NAME %></a>
        <form action="/api/respond-trip-invite/<%=r.ID%>/confirm" method="post">
            <input class="btn" type="submit" value="Confirm">
        </form>
        <form action="/api/respond-trip-invite/<%=r.ID%>" method="post">
            <input class="btn" type="submit" value="Reject">
        </form>
        </li>
    <% } %>
</div>
<div >
    <h4>Friend Requests</h4>
    <% for (i = 0; i < friends.length; i++) { %>
        <% var r = friends[i] %>
        <li>
        <a href="/homepage/<%=r.LOGIN%>"><%= r.NAME %></a>
        <form action="/api/respond-friend-request/<%=r.ID%>/confirm" method="post">
            <input class="btn" type="submit" value="Confirm">
        </form>
        <form action="/api/respond-friend-request/<%=r.ID%>" method="post">
            <input class="btn" type="submit" value="Reject">
        </form>
        </li>
    <% } %>
</div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
