<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1><%= trip.NAME %></h1>
    <% if (trip.OWNER == user.ID) { %>
        <div>
            <button class="btn" onclick="location.href = '/trip-edit';"> Edit Info </button>
        </div>
    <% } %>
    <div>
        <h4>Confirmed</h4>
        <% for (i = 0; i < confirmed.length; i++) { %>
            <% var f = confirmed[i] %>
            <li><a href="/homepage/<%=f.LOGIN%>"><%= f.NAME %></a>
                <% if (f.LOGIN == user.LOGIN) { %>
                <form action="/api/respond-trip-invite/<%=trip.ID%>" method="post">
                    <input class="btn" type="submit" value="Leave Trip">
                </form>
                <% } %>
            </li>
        <% } %>
        <h4>Pending</h4>
        <% for (i = 0; i < pending.length; i++) { %>
            <% var f = pending[i] %>
            <li><a href="/homepage/<%=f.LOGIN%>"><%= f.NAME %></a></li>
        <% } %>
    </div>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
