<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
  
<style type="text/css"> 
 body { 
 padding-top: 60px; 
 padding-bottom: 60px; 
 background-color: white; 
 } 
 .login-box { 
 max-width: 300px; 
 margin: 0 auto; 
 } 
 .login-box .form-control { 
 margin-bottom: 20px; 
 } 
 .post {
 	margin: 0 auto;
 	padding: 10px;
 	border: solid 1px black;
 	width: 450px;
 }

 </style>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script>
  function getInterests() {
	$.getJSON('../interests/<%=profile.user%>', function(interests) {
	 	htmlOut = "Interests: ";
		for (var i=0; i<interests.length; i++){
			htmlOut += interests[i];
			if (i < interests.length - 1) htmlOut += ", ";
			console.log(htmlOut);
		}
		$("#interests").html(htmlOut);
	});
  }
 function getWallPosts() {
	$.getJSON('../wallposts/<%=profile.user%>', function(posts) {
	 	htmlOut = "";
		for (var i=0; i<posts.length; i++){
			htmlOut += ('<div class="post">\n' +
							'<strong>' + posts[i].poster + '</strong>\n' +
							posts[i].post + "\n");
			for (j = 0; j < posts[i].comments.length; j++) {
				htmlOut += ('<div class="comment">\n' +
								posts[i].comments[j] + '\n' +
							'</div>');
			}
			htmlOut += ('<form action="../postcomment/wall/'+posts[i].id+'/<%=profile.user%>" method="post">\n'+
			'<input type="text" name="comment" placeHolder="Comment">\n'+
			'<input type="submit" value="Submit">\n'+
			'</form>\n'+
			'</div>\n');
			}
			console.log(htmlOut);
			$("#wallposts").html(htmlOut);
		});
	}
	window.onload = function () {
		getWallPosts();
		getInterests();
	}
 </script>
 </head>
<body>

<ul class="nav nav-pills">
  	<%if (owner) { %>
 		<li><a href="../editinfo/<%=profile.user%>">Edit Profile</a> </li>
 		<li><a href="../logout">Logout</a></li>
 		<li><a href ="../newsfeed">NewsFeed</a> </li>

  	<% } %> <%if (!owner) { %>
 		<li> <a href="../logout">Logout</a></li>
 		<li><a href ="../newsfeed">NewsFeed</a> </li> 
 		<form action ="/addfriend/<%=profile.user%>" method="post">
  	  		<button type="submit" class = "btn btn-default">Add Friend</button>
  		</form>
  	<% } %>

	<form class="navbar-form navbar-right" role="search">
		<div class="form-group">
			<input type="text" id="search" onkeyup="lookup()" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-search"></span>
		</button>
	</form>

</ul>

	 <center> <h1 id="welcome"> <%=profile.firstname%> <%=profile.lastname%> </h1> </center>


</div>

<div class = "login-box"> 
  	<center> 
  	<form action ="/postwall" method="post">
  	  	<%if (error != null) { %>
 		<font color="red"><p><%= error %></p>
  		<% } %>
  		<input type="text" name="post" placeHolder="Have something to share? Say it here!" class="form-control"><br>
  		<input type="hidden" name="user" value="<%=profile.user%>">
  	  	<input type="submit" class = "btn btn-lg btn-primary btn-block" placeHolder="Sumbit">
  	</form>
</div>
 <div>
 	<blockquote> 

	<% if (profile) { %>
		<p>  Birthday:  </p>
		<p> <b> <%=profile.birthday%> </b> </p>
		<p> Email: </p> 
		<p> <i> <%=profile.email%> </i> </p>
		<p>Network: </p>
		<p> <b> <%=profile.network%> </b> </p>
		<p id="interests"></p>		
	<% } %></blockquote>
</div>
</div> 
<div id="wallposts"></div>
</center>
</body>
</html>
